<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="RNSCODE_Challenge::integration" title="Integração" sortOrder="10">
                    <resource id="RNSCODE_Challenge::integration_config_erp" title="Config ERP" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
